//- MIXIN :: START

include ./_mixin/_hamburger
include ./_mixin/_swiper
include ./_mixin/_modal

mixin mainSection(classMod, gradientMod, img, title, breadcrumbsArr, anchorID)
  section#main.main(class!="main--" + classMod)
    .main__bg(class!= 'main__bg--' + gradientMod)
      img(src!="img/" + img alt="")
    .main__wrapper
      if(classMod === 'home')
        .main__content
          p.main__subtitle(data-aos="fade-up")
            span!= breadcrumbsArr
          h1.main__title.c-title.c-title--medium.c-title--center(data-aos="fade-up")!= title
      else if(classMod === 'landing')
        .main__content
          p.main__subtitle(data-aos="fade-up")
            span!= breadcrumbsArr
          h1.main__title.c-title.c-title--medium.c-title--center(data-aos="fade-up")!= title
      else
        .main__content
          .main__breadcrumbs-wrapper(data-aos="fade-up")
            .main__breadcrumbs
              each val, idx in breadcrumbsArr
                if(idx === breadcrumbsArr.length - 1)
                  p!= val
                else
                  a(href="#")!= val
          h1.main__title.c-title.c-title--medium.c-title--center(data-aos="fade-up" class!= (gradientMod == 'black')?'main__title--white':'')!= title

      if(classMod !== 'landing')
        .main__btn(data-aos="fade-up" data-aos-offset="0")
          a(href!= "#" + anchorID anchor-js)
            span EXPLORE MORE
            i.icon-font.icon-arrow-left

//- MIXIN :: END
