// SECTION :: START

section#liposuction.liposuction

  .liposuction__bg.liposuction__bg-1
    svg(xmlns='http://www.w3.org/2000/svg' width='1584.75' height='181' viewBox='0 0 1584.75 181')
      path(d='M-791.875-4.75A4.747,4.747,0,0,0-787.125,0h89a4.747,4.747,0,0,0,4.75-4.75V-18.5a4.747,4.747,0,0,0-4.75-4.75h-67.75v-147a4.917,4.917,0,0,0-4.75-4.75h-16.5a4.747,4.747,0,0,0-4.75,4.75Zm124.75,0A4.917,4.917,0,0,0-662.375,0h16.5a4.917,4.917,0,0,0,4.75-4.75v-165.5a4.917,4.917,0,0,0-4.75-4.75h-16.5a4.917,4.917,0,0,0-4.75,4.75Zm74.5,0A4.747,4.747,0,0,0-587.875,0h16.25a4.917,4.917,0,0,0,4.75-4.75V-63.5h36.25c30.5,0,55.75-25.25,55.75-56.25,0-30.25-25.25-55.25-56-55.25h-57a4.747,4.747,0,0,0-4.75,4.75ZM-566.875-88v-62h34.5c17.25,0,31.75,13,31.75,30a31.849,31.849,0,0,1-31.75,32Zm110,.75A89.2,89.2,0,0,0-367.125,2.5a89.414,89.414,0,0,0,90-89.75,89.838,89.838,0,0,0-90-90.25C-417.125-177.5-456.875-137.25-456.875-87.25Zm25,0c0-35.5,29.25-65.25,64.75-65.25,35.75,0,65,29.75,65,65.25,0,35.75-29.25,64.75-65,64.75A64.924,64.924,0,0,1-431.875-87.25Zm180.75,70c4,3.75,23.25,19.75,53.75,19.75,32.5,0,55.75-21.25,55.75-47.25,0-30.5-24.75-44.25-53.75-56-20.75-8.5-31.75-17.25-31.75-31.5,0-9.25,7.25-22.5,28.25-22.5,14.5,0,32,11.5,33.75,12.5,3.5,2.25,6.75.75,8.75-2.5,2-3,4.25-6.5,6.25-9.5a5.941,5.941,0,0,0-1.5-8.5c-2.5-1.75-21.25-14.75-46.25-14.75-39.75,0-54.75,26.75-54.75,46.25,0,29,20,42.25,45.5,53,24.75,10.25,37.75,19.75,37.75,34.75,0,12.75-11,23.25-28.25,23.25-19.25,0-38.5-16-40-17.25-2.75-2.25-6.25-1.25-8.5,2s-4.25,7-6.5,10.25C-255.125-21-253.375-19.25-251.125-17.25Zm141.75-48c0,38,28.5,67.75,67.75,67.75,39.5,0,68.25-29.75,68.25-67.75v-105a4.917,4.917,0,0,0-4.75-4.75H5.125a4.747,4.747,0,0,0-4.75,4.75V-66.5c0,24.75-16.25,44-42,44-25.5,0-41.5-19.5-41.5-44.5V-170.25a4.747,4.747,0,0,0-4.75-4.75h-16.75a4.917,4.917,0,0,0-4.75,4.75Zm169.5-22c0,50,40.25,89.75,90.25,89.75,22.25,0,43.75-7.75,60.75-24.25,1.75-1.75,2.25-5,.25-6.75l-11.5-11.25c-1.5-1.25-3.75-1.5-6,.25-12,9.25-24.75,16.5-43,16.5-35.75,0-63-29.75-63-64.75s27-65,62.75-65c15.5,0,31.5,6.5,43.25,16.75,2.25,2.25,4.5,2.25,6.25,0l11-11.25a4.646,4.646,0,0,0-.25-7c-17-14.75-35.25-23.25-60.5-23.25A90.051,90.051,0,0,0,60.125-87.25Zm210.75,82.5A4.917,4.917,0,0,0,275.625,0h16.5a4.917,4.917,0,0,0,4.75-4.75V-151.5h40.75a4.747,4.747,0,0,0,4.75-4.75v-14a4.747,4.747,0,0,0-4.75-4.75h-107.5a4.747,4.747,0,0,0-4.75,4.75v14a4.747,4.747,0,0,0,4.75,4.75h40.75Zm98.5,0A4.917,4.917,0,0,0,374.125,0h16.5a4.917,4.917,0,0,0,4.75-4.75v-165.5a4.917,4.917,0,0,0-4.75-4.75h-16.5a4.917,4.917,0,0,0-4.75,4.75Zm61.75-82.5A89.2,89.2,0,0,0,520.875,2.5a89.414,89.414,0,0,0,90-89.75,89.838,89.838,0,0,0-90-90.25C470.875-177.5,431.125-137.25,431.125-87.25Zm25,0c0-35.5,29.25-65.25,64.75-65.25,35.75,0,65,29.75,65,65.25,0,35.75-29.25,64.75-65,64.75A64.924,64.924,0,0,1,456.125-87.25Zm190.5,82.5A4.917,4.917,0,0,0,651.375,0h15.75a4.747,4.747,0,0,0,4.75-4.75V-126.5h.25l108.5,129h6.5a4.7,4.7,0,0,0,4.75-4.5V-170.25a4.917,4.917,0,0,0-4.75-4.75h-16a4.747,4.747,0,0,0-4.75,4.75V-52h-.25l-108.5-125.5h-6.25a4.7,4.7,0,0,0-4.75,4.5Z' transform='translate(792.375 178)' fill='none' stroke='#caaa51' stroke-width='1')

  .liposuction__container.liposuction__container-1

    .c-grid
      .liposuction__wrapper.liposuction__wrapper-1

        h2.liposuction__title.c-title.c-title--center INTRODUCTION
        p.liposuction__desc.c-desc!= "At our practice in <strong>New York City, liposuction</strong> surgery is a very popular procedure. Liposuction, which is commonly referred to as “lipo,” is a procedure that removes fat deposits from specific areas of the body. Liposuction can also help the body appear more contoured and more proportionate."
        p.liposuction__desc.c-desc!= "Dr. Lao strives to deliver the <strong>best liposuction New York, NY</strong> residents can look forward to. He places patient safety and communication as his top priorities."

  .liposuction__container.liposuction__container-2

    .liposuction__bg.liposuction__bg-2
      img(src="img/img-liposuction-1.jpg" srcset='img/img-liposuction-1@2x.jpg 2x' alt="")

    .c-grid
      .liposuction__wrapper.liposuction__wrapper-2
        div
          h3.liposuction__subtitle.c-title.c-title--medium WHY LIPOSUCTION?
          p.liposuction__desc.c-desc!= "Liposuction is one of the most useful tools used by <span>Dr. Lao</span> in aesthetic and reconstructive <span>plastic surgery</span>. Not only is it used to <span>extract fat</span> for the purpose of fat injection, strategic extraction of fat in certain areas can also obtain the desired body curve. It is also used in conjunction with other <span>body contouring procedures</span> like <span>abdominoplasty (tummy tuck)</span>, brachioplasty (arm lift), thighplasty (thigh lift) procedures to perfect their results."

          h3.liposuction__subtitle.c-title.c-title--medium WHO IS A GOOD CANDIDATE FOR LIPOSUCTION?
          p.liposuction__desc.c-desc Men and women who live a healthy lifestyle, are at a stable weight and have elastic skin are typically good candidates for liposuction. Individuals who have fat deposits that won’t go away with diet and exercise are also excellent candidates for this procedure.
          p.liposuction__desc.c-desc!= "We ask that any candidates who come to see us for <strong>liposuction in NYC</strong> have realistic expectations of what the procedure can and cannot do."

  .liposuction__container.liposuction__container-3

    .liposuction__bg.liposuction__bg-3
      img(src="img/img-liposuction-2.jpg" srcset='img/img-liposuction-2@2x.jpg 2x' alt="")

    .c-grid
      .liposuction__wrapper.liposuction__wrapper-3
        div
          h3.liposuction__title.c-title.c-title--medium COMMON AREAS TO TARGET WITH LIPOSUCTION?
          p.liposuction__desc.c-desc The most targeted areas for Liposuction are:

          .liposuction__list
            ul
              li
                p.c-desc.c-desc--white!= '<span>Abdomen/midsection</span> - Often used to remove any unwanted, excess fat in this area. It can sometimes be referred to as a “Muffin top”'
              li
                p.c-desc.c-desc--white!= '<span>Chin</span> - Provides the patient with a slimmer appearing face, and reduces the possibility of a “Double Chin”'
              li
                p.c-desc.c-desc--white!= '<span>Breasts</span> - Many patients, male and female, will get liposuction in their breasts, as part of a reduction or gynecomastia'
              li
                p.c-desc.c-desc--white!= '<span>Arms</span> - Patients will often use this procedure as assistance in attaining thinner arms with less drooping'
              li
                p.c-desc.c-desc--white!= '<span>Thighs</span> - Patients looking to have slimmer legs will often utilize this procedure in order to obtain their physical goals.'

          p.liposuction__desc.c-desc It is very important to remember that Liposuction is not a quick replacement for a healthy lifestyle and diet, but rather a cosmetic solution to remove stubborn fat cells that are resistant to more traditional methods of weight loss and help contour their body’s shape.

  .liposuction__container.liposuction__container-4

    .c-grid
      .liposuction__wrapper.liposuction__wrapper-4

        h3.liposuction__subtitle.c-title.c-title--medium.c-title--center!= "WHAT ARE THE BENEFITS<br>OF LIPOSUCTION?"
        p.liposuction__desc.c-desc Our staff and Clients have noticed some wonderful benefits to receiving our NYC Liposuction (also referred to as Liposculpture). This procedure can help remove any excess body fat that will not reduce following exercise and a healthy diet, setting you up to lead a healthier lifestyle. Liposculpture aims to improve your body’s shape, increase your confidence, and enhance your self-image.

  .liposuction__container.liposuction__container-5

    .c-grid
      .liposuction__wrapper.liposuction__wrapper-5
        .liposuction__wrapper-left

          h3.liposuction__subtitle.c-title.c-title--medium WHAT’S THE FIRST STEP?
          p.liposuction__desc.c-desc The first step is to get in touch with our office and schedule your one-on-one consultation with Dr. Lao. After discussing your aesthetic desires, you will be provided with a full assessment and his expert recommendations.
          p.liposuction__desc.c-desc Please keep in mind that during your consultation, it is important to be as open and honest as possible in order to achieve the best results.
          p.liposuction__desc.c-desc Once you feel comfortable with Dr. Lao’s assessment, your surgery can be booked, at which time you will receive your preoperative instructions. It is expertly recommended that smoking prior or after the surgery is avoided in order to avoid any complications, such as infection or poor healing. You should also avoid any blood thinning medication or supplements.

        .liposuction__wrapper-right

          h3.liposuction__subtitle.c-title.c-title--medium!= "HOW IS THE<br>PROCEDURE PERFORMED?"
          p.liposuction__desc.c-desc There are many kinds of liposuction available on the market. It is often confusing for patients to understand the difference and choose the specific treatment. The gold standard is the traditional suction-assisted liposuction; all other modalities, like ultrasound or laser liposuction, are variations from it.
          p.liposuction__desc.c-desc Each modality has its advantages and disadvantages; it has to be used for the right body location and for the right purpose. There is no such thing as the best kind of liposuction, but only the right kind for your specific needs and desired results. During your consultation with Dr. Lao, he will discuss your options with you and come up with a treatment plan for you.
          p.liposuction__desc.c-desc All liposuction involves a small entry site and a thin cannula to break up the fat and suction out the excess. An experienced plastic surgeon like Dr. Lao doesn’t just perform liposuction, he carefully sculpts the body to accentuate an aesthetic contour.

// SECTION :: END
