// SECTION :: START

section#procedures.procedures

  .procedures__bg(svg-js)
    svg(xmlns='http://www.w3.org/2000/svg' width='1618.75' height='181' viewBox='0 0 1618.75 181')
      path#Path_69(data-name='Path 69' d='M-801.875-4.75A4.747,4.747,0,0,0-797.125,0h16.25a4.917,4.917,0,0,0,4.75-4.75V-63.5h36.25c30.5,0,55.75-25.25,55.75-56.25,0-30.25-25.25-55.25-56-55.25h-57a4.747,4.747,0,0,0-4.75,4.75ZM-776.125-88v-62h34.5c17.25,0,31.75,13,31.75,30a31.849,31.849,0,0,1-31.75,32Zm122.75,83.25A4.747,4.747,0,0,0-648.625,0h16.25a4.917,4.917,0,0,0,4.75-4.75V-68.5h37.75l33.25,66.25a4.6,4.6,0,0,0,4,2.25h19.5c4.25,0,6-4,4.25-7.25l-34.25-63.5c21.75-8.75,37-27.75,37-50.75,0-29.75-24.5-53.5-54.5-53.5h-68a4.747,4.747,0,0,0-4.75,4.75ZM-627.125-90v-60.75h44.5c16.25,0,30.5,13.5,30.5,29.75,0,17.25-14.25,31-30.5,31Zm127.25,2.75A89.2,89.2,0,0,0-410.125,2.5a89.414,89.414,0,0,0,90-89.75,89.838,89.838,0,0,0-90-90.25C-460.125-177.5-499.875-137.25-499.875-87.25Zm25,0c0-35.5,29.25-65.25,64.75-65.25,35.75,0,65,29.75,65,65.25,0,35.75-29.25,64.75-65,64.75A64.924,64.924,0,0,1-474.875-87.25Zm177.75,0c0,50,40.25,89.75,90.25,89.75,22.25,0,43.75-7.75,60.75-24.25,1.75-1.75,2.25-5,.25-6.75l-11.5-11.25c-1.5-1.25-3.75-1.5-6,.25-12,9.25-24.75,16.5-43,16.5-35.75,0-63-29.75-63-64.75s27-65,62.75-65c15.5,0,31.5,6.5,43.25,16.75,2.25,2.25,4.5,2.25,6.25,0l11-11.25a4.646,4.646,0,0,0-.25-7c-17-14.75-35.25-23.25-60.5-23.25A90.051,90.051,0,0,0-297.125-87.25Zm186.75,82.5A4.747,4.747,0,0,0-105.625,0h100A4.747,4.747,0,0,0-.875-4.75V-18.5a4.747,4.747,0,0,0-4.75-4.75h-79V-77h66.75a4.747,4.747,0,0,0,4.75-4.75v-14a4.917,4.917,0,0,0-4.75-4.75h-66.75v-51h79a4.747,4.747,0,0,0,4.75-4.75v-14A4.747,4.747,0,0,0-5.625-175h-100a4.747,4.747,0,0,0-4.75,4.75Zm147.25,0A4.7,4.7,0,0,0,41.375,0h57.5a87.863,87.863,0,0,0,87.75-87.75c0-48-39.5-87.25-87.75-87.25h-57.5a4.7,4.7,0,0,0-4.5,4.75Zm25.5-19v-127.5h33c36.75,0,63.5,26.75,63.5,63.5,0,37-26.75,64-63.5,64Zm158-41.5c0,38,28.5,67.75,67.75,67.75,39.5,0,68.25-29.75,68.25-67.75v-105a4.917,4.917,0,0,0-4.75-4.75h-16.75a4.747,4.747,0,0,0-4.75,4.75V-66.5c0,24.75-16.25,44-42,44-25.5,0-41.5-19.5-41.5-44.5V-170.25a4.747,4.747,0,0,0-4.75-4.75h-16.75a4.917,4.917,0,0,0-4.75,4.75Zm182.25,60.5A4.747,4.747,0,0,0,407.375,0h16.25a4.917,4.917,0,0,0,4.75-4.75V-68.5h37.75l33.25,66.25a4.6,4.6,0,0,0,4,2.25h19.5c4.25,0,6-4,4.25-7.25l-34.25-63.5c21.75-8.75,37-27.75,37-50.75,0-29.75-24.5-53.5-54.5-53.5h-68a4.747,4.747,0,0,0-4.75,4.75ZM428.875-90v-60.75h44.5c16.25,0,30.5,13.5,30.5,29.75,0,17.25-14.25,31-30.5,31Zm140,85.25A4.747,4.747,0,0,0,573.625,0h100a4.747,4.747,0,0,0,4.75-4.75V-18.5a4.747,4.747,0,0,0-4.75-4.75h-79V-77h66.75a4.747,4.747,0,0,0,4.75-4.75v-14a4.917,4.917,0,0,0-4.75-4.75h-66.75v-51h79a4.747,4.747,0,0,0,4.75-4.75v-14a4.747,4.747,0,0,0-4.75-4.75h-100a4.747,4.747,0,0,0-4.75,4.75Zm137.5-12.5c4,3.75,23.25,19.75,53.75,19.75,32.5,0,55.75-21.25,55.75-47.25,0-30.5-24.75-44.25-53.75-56-20.75-8.5-31.75-17.25-31.75-31.5,0-9.25,7.25-22.5,28.25-22.5,14.5,0,32,11.5,33.75,12.5,3.5,2.25,6.75.75,8.75-2.5,2-3,4.25-6.5,6.25-9.5a5.941,5.941,0,0,0-1.5-8.5c-2.5-1.75-21.25-14.75-46.25-14.75-39.75,0-54.75,26.75-54.75,46.25,0,29,20,42.25,45.5,53,24.75,10.25,37.75,19.75,37.75,34.75,0,12.75-11,23.25-28.25,23.25-19.25,0-38.5-16-40-17.25-2.75-2.25-6.25-1.25-8.5,2s-4.25,7-6.5,10.25C702.375-21,704.125-19.25,706.375-17.25Z' transform='translate(802.375 178)' fill='none' stroke='#caaa51' stroke-width='1')

  .c-grid
    .procedures__wrapper.procedures__wrapper-1

      h2.procedures__title.c-title.c-title--center(data-aos="fade-up")!= "Compassionate care. <br>Beautiful results."
      p.procedures__desc.procedures__desc-1.c-desc(data-aos="fade-up") From the sexy curves of breast augmentation to the latest skincare treatments, we have what it takes to keep you looking beautiful. If you are considering breast enlargement surgery in New York, our team of highly-trained professionals deliver compassionate care and beautiful results in a comfortable, luxurious setting where your vision of beauty becomes reality.

    .procedures__wrapper.procedures__wrapper-2
      div

        h3.procedures__title.c-title.c-title--gold(data-aos="fade-up") FACE
        p.procedures__desc.procedures__desc-2.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.

      div

        .procedures__box-wrapper
          - let arr1 = ['ASIAN DOUBLE <br>EYELID LIFT', 'ASIAN <br>RHINOPLASTY', 'BROW AND <br>FOREHEAD LIFT', 'CHIN <br>AUGMENTATION', 'EAR <br>SURGERY', 'FACELIFT', 'HAIR <br>TRANSPLASNT', 'LOWER EYELID <br>BLEPHAROPLASTY', 'NECK <br>LIFT', 'RHINOPLASTY', 'JAWLINE <br>CONTOURING', 'UPPER EYELID <br>SURGERY']
          each val, idx in arr1
            div(data-aos="fade-up")
              .procedures__box
                p!= val

    .procedures__wrapper.procedures__wrapper-3
      div

        h3.procedures__title.c-title.c-title--gold(data-aos="fade-up") BREAST
        p.procedures__desc.procedures__desc-3.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.

      div

        .procedures__box-wrapper
          - let arr2 = ['BREAST<br>AUGMENTATION', 'BREAST<br>LIFT', 'BREAST LIFT<br>AUGMENTATION' , 'BREAST<br>REDUCTION', 'INVERTED<br>NIPPLE', 'MALE BREAST<br>REDUCTION', 'NIPPLE<br>REDUCTION', 'BREAST<br>ASYMMETRY', 'FAT TRANSFER<br>BREAST AUGMENTATION']
          each val, idx in arr2
            div(data-aos="fade-up")
              .procedures__box
                p!= val

    .procedures__wrapper.procedures__wrapper-4
      div

        h3.procedures__title.c-title.c-title--gold(data-aos="fade-up") BODY
        p.procedures__desc.procedures__desc-4.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.

      div

        .procedures__box-wrapper
          - let arr3 = ['TUMMY<br>TUCK', 'EXCESSIVE<br>SWEATING', 'FAT<br>GRAFTING', 'LABIAPLASTY', 'LIPOSUCTION', 'MASSIVE<br>WEIGHT LOSS', 'MOMMY<br>MAKEOVER']
          each val, idx in arr3
            div(data-aos="fade-up")
              .procedures__box
                p!= val

    .procedures__wrapper.procedures__wrapper-5
      div

        h3.procedures__title.c-title.c-title--gold(data-aos="fade-up") NON-SURGICAL
        p.procedures__desc.procedures__desc-5.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.

      div

        .procedures__box-wrapper
          - let arr4 = ['ANTI<br>AGING', 'CLEAR +<br>BRILLIANT', 'EMSCULPT<br>Neo', 'IPL' , 'MOLE<br>REMOVAL', 'THERMAGE']
          each val, idx in arr4
            div(data-aos="fade-up")
              .procedures__box
                p!= val

// SECTION :: END
